@using PagedList
@using PagedList.Mvc;
@model IPagedList<WebBanNickGame.Models.DonHang>
@{
    ViewBag.Title = "DonHang";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container mt-5">
    <h2>Danh Sách Đơn Hàng</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mã khách hàng</th>
                <th>Ngày Đặt Hàng</th>
                <th>Tổng Giá Trị</th>
                <th>Mã nick</th>
                <th>Chi Tiết</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaKH</td>
                    <td>@(item.ThoiGianMua.ToString("dd/MM/yyyy"))</td>
                    <td>@(item.GiaTien.ToString("N0")+",000" + " VND")</td>
                    <td>@item.MaNick</td>
                    <td>@Html.ActionLink("Xem chi tiết", "XemCTDonHang", new { maDonHang = item.MaDH} , new { @class = "btn btn-primary" })</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="pagination justify-content-center">
    <ul class="pagination">
        @if (Model.PageCount > 1)
        {
            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("DonHang", new { page = 1, size = ViewBag.SelectedSize })">First</a>
            </li>
            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("DonHang", new { page = Model.PageNumber - 1, size = ViewBag.SelectedSize })">Previous</a>
            </li>
            for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("DonHang", new { page = i, size = ViewBag.SelectedSize })">@i</a>
                </li>
            }
            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("DonHang", new { page = Model.PageNumber + 1, size = ViewBag.SelectedSize })">Next</a>
            </li>
            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("DonHang", new { page = Model.PageCount, size = ViewBag.SelectedSize })">Last</a>
            </li>
        }
    </ul>
</div>

