
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@model WebBanNickGame.Models.DanhMucViewModel
<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item position-relative active" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="~/Image/Banner/NICKLIENMINH-NET(1).gif" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href='@((Session["banner1"] as bool? == true) ? Url.Action("ShopLM", "Home", new { uid = 1 }) : Url.Content("~/Home/Ngung"))' > Mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="~/Image/Banner/3.gif" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Giảm giá 20%</h6>
                    <h3 class="text-white mb-3">Nick liên minh tốc chiến</h3>
                    <a href="@Url.Action("ShopLM","Home",new {uid = 3})" class="btn btn-primary">Mua ngay</a>
                </div>
            </div>
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="~/Image/Banner/2.gif" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Giảm tới 20%</h6>
                    <h3 class="text-white mb-3">Nick liên quân</h3>
                    <a href="@Url.Action("ShopLM","Home",new {uid = 7})" class="btn btn-primary">Mua ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Danh Mục</span></h2>
    <div class="row px-xl-5">
        @foreach (var dm in Model.ChiTietDanhMucList)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img style="height:200px" class="img-fluid w-100" src="~/Image/GiaRe/@dm.HinhAnh" alt="">
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="@Url.Action("ShopLM","Home",new {uid = @dm.MaCTDanhMuc})">@dm.Ten</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>