
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
@using PagedList
@using PagedList.Mvc
@model IPagedList<WebBanNickGame.Models.NickLM>

<!-- Bổ sung tệp CSS và JS của Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>

<div class="container">
    <p>
        @Html.ActionLink("Thêm mới", "ThemNick", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tài khoản</th>
                <th>Mật khẩu</th>
                <th>Rank </th>
                <th>Tướng </th>
                <th>Trang Phục</th>
                <th>Hình Ảnh</th>
                <th>Mã chi tiết danh mục</th>
                <th>Giá </th>
                <th>Thư viện chứa hình</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TaiKhoan)</td>
                    <td>*******</td>
                    <td>@Html.DisplayFor(modelItem => item.Rank)</td>
                    <td>@Html.DisplayFor(modelItem => item.Tuong)</td>
                    <td>@Html.DisplayFor(modelItem => item.TrangPhuc)</td>
                    <td><img src="~/Image/Nick/@item.ThuVienChuaHinh/@item.MaNick/@item.HinhAnh" alt="Hình ảnh" class="img-thumbnail" width="100" height="100" /></td>
                    <td>@Html.DisplayFor(modelItem => item.MaCTDanhMuc)</td>
                    <td>@Html.DisplayFor(modelItem => item.Gia)</td>
                    <td>@Html.DisplayFor(modelItem => item.ThuVienChuaHinh)</td>
                    <td>
                        @Html.ActionLink("Sửa", "SuaNick", new { id = @item.MaNick }, new { @class = "btn btn-warning" }) |
                        @Html.ActionLink("Xoá", "XoaNick", new { id = @item.MaNick }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination justify-content-center">
        <ul class="pagination">
            @if (Model.PageCount > 1)
            {
                <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Nick", new { page = 1, size = ViewBag.SelectedSize })">First</a>
                </li>
                <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Nick", new { page = Model.PageNumber - 1, size = ViewBag.SelectedSize })">Previous</a>
                </li>
                for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Nick", new { page = i, size = ViewBag.SelectedSize })">@i</a>
                    </li>
                }
                <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Nick", new { page = Model.PageNumber + 1, size = ViewBag.SelectedSize })">Next</a>
                </li>
                <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Nick", new { page = Model.PageCount, size = ViewBag.SelectedSize })">Last</a>
                </li>
            }
        </ul>
    </div>
</div>
